---
const { image, name, link } = Astro.props;
---

<div class="character_block aboutHover">
    <img src={image} alt={name} />
    <div class="character_name">{name}</div>
    <a href={link} rel="noopener"> ABOUT </a>
</div>

<style>
    .character_name {
        font-family: "Anton";
        font-size: 30px;
    }
</style>
