/* CSS RGB Colors */
:root {
    --background: rgb(61, 52, 42);

    --font: rgb(58, 15, 22);

    --layout: rgb(98, 84, 80);

    --slider: rgb(125, 49, 49);

    --font-background: rgb(151, 141, 120);



}

@font-face {
    font-family: 'Anton';
    src: url('../assets/fonts/Anton/Anton-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    color: var(--font-background);
}

.social_icon {
    width: 20px;
}

img {
    width: 300px;
}

.title {
    font-family: 'Anton';
    font-size: 50px;

}

.aboutHover {
    position: relative;
}

.aboutHover a {
    display: block;
    font-family: "Anton";
    background-color: var(--slider);
    color: var(--font);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 16px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    opacity: 0;
}

.aboutHover:hover a {
    opacity: 1;
}

.aboutHover:hover img {
    opacity: 0.5;
}

.aboutHover:hover {
    background-color: rgb(79, 77, 77);
    /* opacity: 0.4; */
}