.home_container {
    max-width: 1300px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.preact-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 5px 0;

}

.preact-slider:hover {
    background-color: black;
    opacity: 0.6;
}

.slider-image {
    width: 100%;
}

.slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-buttons {
    position: absolute;
    top: 50%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

}



.slider-buttons button {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 24px;
    padding: 8px 16px;
    cursor: pointer;
}

.slider-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    transform: translateY(-50%);

}

.slider-dots .dot {
    width: 12px;
    height: 12px;
    margin: 0 4px;
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.slider-dots .dot.active {
    background-color: #757575;
}



.small_sliders {
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    gap: 10px;

}

.preact-slider-main {
    width: 100%;
    height: 400px;
}


.preact-slider-main .slider-image {
    width: 100%;
    height: 400px;
}