---
import CharacterContainer from "./character/CharactersContainerBlock.astro";
---

<div class="characters_container">
    <h1 class="characters_title title">Characters</h1>
    <div class="characters_blocks">
        <!-- to show all characters use "<CharacterBlock name={0} /> " -->
        <CharacterContainer names={0} />
    </div>
</div>

<style>
    .characters_blocks {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px 0;
    }
</style>
