---
import Characters from "../pages/characters.astro";
import CharacterBlock from "./character/CharacterBlock.astro";

const allCharacters = Object.values(
    import.meta.glob("../pages/characters/*.md", { eager: true }),
);
---

<div class="characters_container">
    <h1 class="characters_title title">Characters</h1>
    <div class="characters_blocks">
        {
            allCharacters.map((character: any) => (
                <CharacterBlock
                    name={character.frontmatter.title}
                    img={character.frontmatter.image}
                    characterLink={character.url}
                />
            ))
        }
    </div>
</div>

<style>
    .characters_blocks {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px 0;
    }
</style>
