---
import logo from "../assets/logo.png";
---

<footer>
    <div class="footer__contatiner">
        <div class="newsletter">
            <div class="newsletter__title">Sign Up to newsletter</div>
            <input type="text" />
        </div>
        <div class="logo">
            <img src={logo.src} alt="" />
        </div>
        <div class="socials">
            <a href="x">SOCIAL<img src="" alt="" /></a>
            <a href="facebook">SOCIAL<img src="" alt="" /></a>
            <a href="bluesky">SOCIAL<img src="" alt="" /></a>
            <a href="beeper">SOCIAL<img src="" alt="" /></a>
            <a href="youtube">SOCIAL<img src="" alt="" /></a>
            <a href="instagram">SOCIAL<img src="" alt="" /></a>
        </div>
    </div>
    <p>copyright</p>
</footer>
