---
import logo from "../assets/logo.png";
import Socials from "./SocialLinks.astro";
---

<footer>
    <div class="footer__contatiner">
        <div class="newsletter">
            <div class="newsletter__title">SIGN UP TO NEWSLETTER</div>
            <input type="text" class="newsletter__input" />
        </div>
        <div class="logo">
            <img src={logo.src} alt="" />
        </div>

        <Socials />
    </div>
    <p>copyright</p>
</footer>

<style>
    footer {
        text-align: center;
        width: 100%;
        background-color: var(--layout);
        color: var(--font);
    }
    .footer__contatiner {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }
    .logo img {
        width: 100px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
    }
    .newsletter {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: start;
    }
    .newsletter__title {
        font-size: 20px;
    }
    .newsletter__input {
        width: 100%;
        color: #fff; /* Text color */
        background-color: var(--font-background);
        padding: 10px; /* Optional for spacing */
        border-radius: 5px;
    }
</style>
