---
import slider_1 from "../assets/slider-1.png";
import slider_2 from "../assets/slider-2.png";
import slider_3 from "../assets/slider-3.png";
---

<div class="home_container">
    <div class="main_slidder"><img src={slider_1.src} alt="" /></div>
    <div class="small_sliders">
        <div class="slider"><img src={slider_2.src} alt="" /></div>
        <div class="slider"><img src={slider_3.src} alt="" /></div>
    </div>
</div>
